<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>My website</title>
</head>
<body>
    <h3>Blog about myself and my mistakes and learnings</h3>
    <div>
            <p>published: 14.06.2014, 12:14</p>
            <h2><a href="">My first post</a></h2>
            <p>More posts about Forts are yet to come stay tunned!!!!!!.</p>
        </div>

        <div>
            <p>published: 14.06.2014, 12:14</p>
            <h2><a href="">My second post</a></h2>
            <p>More posts about trekkers and their experience are yet to come Stay tunned!!!!.</p>
        </div>
</body>
</html>